<h2>Edit Movie</h2>
<nav>
  <p><a href="/">Home</a></p>
  <p><a href="/celebrities/create">Create a Celebrity!</a></p>
  <p><a href="/celebrities">View all Celebrities</a></p>
  <p><a href="/movies/create">Create a Movie</a></p>
  <p><a href="/movies">View all Movies</a></p>
</nav>
<form action="/movies/{{movie._id}}" method="POST">
  <label>
    Title:
    <input type="text" name="title" value="{{movie.title}}"/>
  </label>
  <label>
    Genre:
    <input type="text" name="genre" value="{{movie.genre}}" />
  </label>
  <label>
    Plot:
    <input type="text" name="plot" value="{{movie.plot}}" />
  </label>
  <label>
    Cast:
    <select name="cast" multiple>
      {{#each celebrity}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </label>
  <button type="submit">Submit</button>
</form>